body{
    background-image: url("../assets/splashbackground.png");
    background-position: 3% 50%;
    background-attachment: fixed;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    transition: .5 ease-in;
    margin: 0;
}

.splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.splash h1{
    font-family: 'Righteous', cursive;
    color: rgb(61, 131, 211);
    font-size: 40px;
}

.splash h2{
    font-family: 'Righteous', cursive;
    font-style: italic;
    font-weight: light;
    color: #406aa1
}

.search-div{
    width: 50%;
    display: flex;
    justify-content: center;
}

.pro-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro-button{
    width: 40%;
    padding: 10px;
    color: white;
    background-color: rgb(72, 71, 77);
    border-radius: 6px;
    border-style: none;
    transition: ease-in;
    background: -moz-linear-gradient(left,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    background: -webkit-linear-gradient(left,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    background: linear-gradient(to right,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    transition: 0.17s;
    margin-bottom: 30px;
    margin-top: 5px;
    outline: none;
}

.pro-button:hover{
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.25em);
    transition: 0.17s;
}

.search{
    border-radius: 6px;
    padding: 10px;
    width: 80%;

}

.player-header{
    font-family: 'Righteous', cursive;
    color: rgb(61, 131, 211);
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
    transition: .5s;
    animation-name: slideInHeader;
    animation-duration: 1s;
    animation-iteration-count: 1;


}

@keyframes slideInHeader {
    0% {
        transform: translateY(-200px) scale(0.5,0.5);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1,1);
        
    }
}

.bar{
    background-color: blue;
    width: 20px;
}


.player-page{
    transition: 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.637);
    background-blend-mode: lighten;
    background-position: 3% 60%;
}

.stats-div{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.no-exist-header{
    text-align: center;
    color: rgb(61, 131, 211);
    font-family: 'Righteous', cursive;
    width: 50%;
    margin-top: 10%;
    animation: favChampsSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.faker-image{
    background-image: url("../assets/faker-pic.png");
    height: 600px;
    width: 30%;
    background-position: center;
    margin-left: 5%;
    transition: .5s ease-in;
    animation: imageSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.gamer-image{
    background-image: url("../assets/gamer-image.png");
    height: 600px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5%;
    transition: .5s ease-in;
    animation: imageSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.bjerg-image{
    background-image: url("../assets/bjerg-pic.png");
    height: 600px;
    width: 30%;
    background-position: center;
    margin-left: 5%;
    transition: .5s ease-in;
    animation: imageSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.bang-image{
    background-image: url("../assets/bang-pic.png");
    height: 600px;
    width: 30%;
    background-position: center;
    margin-left: 5%;
    transition: .5s ease-in;
    animation: imageSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 5;
}

.jensen-image{
    background-image: url("../assets/jensen-pic.png");
    height: 600px;
    width: 30%;
    background-position: center;
    margin-left: 5%;
    transition: .5s ease-in;
    animation: imageSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 5;
}

@keyframes imageSlideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }

}

.played-champs-header{
    text-align: center;
    color: rgb(61, 131, 211);
    font-family: 'Righteous', cursive;
}


.champs-graph-container{
    width: 1000px;
    height: 500px;
    margin-top: 5%;
    margin-left: 10%;
    animation: favChampsSlideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@keyframes favChampsSlideIn{
    0% {
        transform: translateY(-200px) scale(0.5,0.5);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100%{
        transform: translateY(0) scale(1,1);
    }

}

.favorite-champ-rect{
    transition: .17s;
}

.favorite-champ-rect:hover{
    opacity: 0.66;
}


.cs-div{
    width: 100%;
    padding-bottom: 30%;
    background: linear-gradient(to right,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideInCsDiv;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes slideInCsDiv {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        
    }
}



.average-cs-header{
    width: 50%;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    font-size: 46px;
    text-align: center;

}

.csStat{
    width: 50%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 30px;
    transition: opacity 250ms ease-in;
    animation: csAppear;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.minion-div{
    background-image: url('../assets/minion.png');
    height: 480px;
    width: 550px;
    animation: csAppear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes csAppear{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .2;
    }
    70%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }

}

.damage-div{
    width: 100%;
    padding-bottom: 30%;
    background: linear-gradient(to right,  rgb(108, 109, 156) 0%, rgb(15, 114, 145) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.damage-graph-header{
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 30px;
    animation: csAppear;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

.Given {
    fill:rgb(29, 148, 78);
    transition: 0.17s;
}

.Taken {
    fill:rgb(139, 24, 63);
    transition: 0.17s;
}


.Given:hover{
    opacity: 0.66;
    fill:rgb(12, 73, 17)
}

.Taken:hover{
    opacity: 0.66;
    fill:rgb(100, 9, 65)
}


.gold-div{
    width: 100%;
    padding-bottom: 30%;
    background: linear-gradient(to right,  rgb(157, 124, 189) 0%, rgb(18, 113, 238) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin{
    width: 50px;
    height: 50px;
    background-image: url('../assets/coin.png');
    animation: drop;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    background-position: center;
    background-size: contain;
    position: fixed;

}

@keyframes drop {
    0%{opacity: 1}
    70%{opacity: .1}
    100% {transform: translateY(100vh); opacity: 0}
}

.goldStat{
    width: 50%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 30px;
    transition: opacity 250ms ease-in;
    animation: csAppear;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

.gold-pic1{
    background-image: url('../assets/moneybag.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
    width: 550px;
    animation: imageSlideIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    margin-right: 10%;

}

.gold-pic2{
    background-image: url('../assets/moneybag.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
    width: 550px;
    animation: imageSlideInOpposite;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

.gold-pic-div{
    display: flex;

}

@keyframes imageSlideInOpposite {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }

}


.kda-div{
    width: 100%;
    padding-bottom: 30%;
    background: linear-gradient(to right,  rgb(196, 110, 181) 0%, rgb(161, 8, 92) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kda-graph-header{
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 30px;
    animation: csAppear;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

.kda-rect-Kills{
    fill: rgb(52, 128, 228);
    transition: 0.17s;
}

.kda-rect-Assists{
    fill:rgb(41, 121, 141);
    transition: 0.17s;
}

.kda-rect-Deaths{
    fill:#e25f5f;
    transition: 0.17s;
}

.kda-rect-Kills:hover{
    opacity: 0.66;
    fill:rgb(25, 82, 158);
}

.kda-rect-Assists:hover{
    opacity: 0.66;
    fill:rgb(38, 89, 102);
}

.kda-rect-Deaths:hover{
    opacity: 0.66;
    fill:#b83b3b;
}