body{
    background-image: url("../assets/splashbackground.png");
    background-position: 3% 50%;
    background-attachment: fixed;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}

.splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.splash h1{
    font-family: 'Righteous', cursive;
    color: rgb(61, 131, 211);
    font-size: 40px;
}

.splash h2{
    font-family: 'Righteous', cursive;
    font-style: italic;
    font-weight: light;
    color: #406aa1
}

.search-div{
    width: 50%;
    display: flex;
    justify-content: center;
}

.pro-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pro-button{
    width: 40%;
    padding: 10px;
    color: white;
    background-color: rgb(72, 71, 77);
    border-radius: 6px;
    border-style: none;
    transition: ease-in;
    background: -moz-linear-gradient(left,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    background: -webkit-linear-gradient(left,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    background: linear-gradient(to right,  rgb(134, 135, 228) 0%, rgb(33, 185, 231) 100%);
    transition: 0.17s;
    margin-bottom: 30px;
    margin-top: 5px;
    outline: none;
}

.pro-button:hover{
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.25em);
    transition: 0.17s;
}

.search{
    border-radius: 6px;
    padding: 10px;
    width: 80%;

}

.player-header{
    font-family: 'Righteous', cursive;
    color: rgb(61, 131, 211);
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
    transition: .5s;
    animation-name: slideInHeader;
    animation-duration: 1s;
    animation-iteration-count: 1;


}

@keyframes slideInHeader {
    0% {
        transform: translateY(-200px) scale(0.5,0.5);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1,1);
        
    }
}

.bar{
    background-color: blue;
    width: 20px;
}


.player-page{
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.637);
    background-blend-mode: lighten;
    background-position: 3% 60%;
}

.stats-div{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}